/* AppNavigation */

.KAF-AppNavigation--block {

}

.KAF-block--AppNavigation {
    width: 30vw;
    max-width: 300px;
}

.KAF-block--AppNavigation {
    background: var(--menu-background-color);
    color: var(--menu-link-color);
}

.KAF-block--AppNavigation a {
    color: var(--menu-link-color);
}
