input[type="text"] {
  box-sizing: border-box;
  font-size: 18px;
  border: 1px #ddd solid;
  padding: 9px 19px 9px 19px;
  width: 100%;
  font-family: "Happy Monkey", Helvetica, Arial, Verdana, sans-serif;
  outline: 0;
}
