.todos {
  list-style: none;
  
  li {
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    font-family: "Happy Monkey", Helvetica, Arial, Verdana, sans-serif;
    width: 100%;
    background: #ddd;
    margin-top: 4px;
    box-sizing: border-box;

    &:hover {
      cursor: pointer;
    }

    .done {
      text-decoration: line-through;
      color: #aaa;
    }
  }
}
